.root {
    -fx-font-family: "Roboto Light";
    -color-blue1: #1E3F66;
    -color-blue2: #2E5984;
    -color-blue3: #477B9F;
    -color-blue4: #73A5C6;
    -color-white: #f8f8ff;
    -color-black: #000000;
    -color-pink: #c6738c;
    -color-red: #B41900;
    -fx-text-fill: -color-white;
}

.background {
    -fx-background-color: -color-blue1;
    background-color: -color-blue2; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Raleway Semibold";
    -fx-text-fill: -color-white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Raleway Light";
    -fx-text-fill: -color-white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Raleway Semibold";
}

.tab-pane {
<<<<<<< HEAD
    -fx-padding: 0;
}

.tab-pane .tab {
    -fx-background-color: -color-blue2;
    -fx-border-insets: 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -color-blue3;
    -fx-border-insets: 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover {
    -fx-background-color: -color-blue4;
    -fx-border-insets: 0;
=======
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
>>>>>>> 2aa367b4... Add colors to UI
}

.table-view {
    -fx-base: #1d1d1d;
<<<<<<< HEAD
    -fx-control-inner-background: -color-blue2;
    -fx-background-color: -color-blue2;
=======
    -fx-control-inner-background: -color-purple;
    -fx-background-color: -color-purple;
>>>>>>> 2aa367b4... Add colors to UI
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Raleway Light";
    -fx-text-fill: -color-white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
<<<<<<< HEAD
    -fx-background-color: -color-blue1;
=======
    -fx-background-color: -color-lightpurple;
>>>>>>> 2aa367b4... Add colors to UI
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
<<<<<<< HEAD
    -fx-background-color: -color-blue1;
=======
    -fx-background-color: -color-lightpurple;
>>>>>>> 2aa367b4... Add colors to UI
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
<<<<<<< HEAD
    -fx-background-color: -color-blue1;
=======
    -fx-background-color: -color-lightpurple;
>>>>>>> 2aa367b4... Add colors to UI
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
<<<<<<< HEAD
    -fx-graphic-text-gap: 0;
=======
    -fx-graphic-text-gap : 0;
>>>>>>> 2aa367b4... Add colors to UI
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
<<<<<<< HEAD
    -fx-background-color: -color-blue2;
}

.list-cell:filled:odd {
    -fx-background-color: -color-blue1;
=======
    -fx-background-color: -color-purple;
}

.list-cell:filled:odd {
    -fx-background-color: -color-lightpurple;
>>>>>>> 2aa367b4... Add colors to UI
}

.list-cell:filled:selected {
    -fx-background-color: #424d5f;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: -color-white;
}

.cell_big_label {
    -fx-font-family: "Raleway Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: -color-white;
}

.cell_small_label {
    -fx-font-family: "Raleway";
    -fx-font-size: 13px;
    -fx-text-fill: -color-white;
}

.stack-pane {
<<<<<<< HEAD
     -fx-background-color: -color-blue1;
}

.pane-with-border {
     -fx-background-color: -color-blue1;
     -fx-border-width: 0px;
}

=======
     -fx-background-color: -color-lightpurple;
}

.pane-with-border {
     -fx-background-color: -color-lightpurple;
     -fx-border-color: derive(-color-purple, 10%);
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #161925;
}


.status-bar .label {
    -fx-text-fill: -color-white;
    -fx-padding: 2px;
    -fx-pref-height: 0px;
}

.status-bar-with-border {
    -fx-background-color: derive(-color-purple, 30%);
    -fx-border-color: derive(-color-purple, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: -color-white;
}
>>>>>>> 2aa367b4... Add colors to UI

.result-display {
    -fx-background-color: transparent;
    -fx-font-size: 11pt;
    -fx-text-fill: -color-white;
}

.result-display .label {
    -fx-text-fill: black !important;
}

<<<<<<< HEAD
=======

.grid-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#1d1d1d, 30%);
}

>>>>>>> 2aa367b4... Add colors to UI
/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
<<<<<<< HEAD
    -fx-border-radius: 2;
=======
    -fx-border-radius: 30%;
>>>>>>> 2aa367b4... Add colors to UI
    -fx-padding: 5 0 5 0;
    -fx-border-color: transparent;
    -fx-border-width: 2;
    -fx-background-radius: 0;
<<<<<<< HEAD
    -fx-background-color: -color-blue3;
=======
    -fx-background-color: -color-white;
>>>>>>> 2aa367b4... Add colors to UI
    -fx-font-size: 11pt;
    -fx-text-fill: -color-white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
<<<<<<< HEAD
    -fx-background-color: -color-blue4;
}

.button:default:hover {
    -fx-background-color: -color-blue3;
}

.button-selected {
    -fx-background-color: -color-pink;
}

.dialog-pane {
    -fx-background-color: -color-blue2;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: -color-blue2;
=======
    -fx-background-color: derive(-color-medium2, 20%);
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: -color-purple;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: -color-purple;
>>>>>>> 2aa367b4... Add colors to UI
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: -color-white;
}

.dialog-pane:header *.header-panel {
<<<<<<< HEAD
    -fx-background-color: derive(-color-blue2, 25%);
=======
    -fx-background-color: derive(-color-purple, 25%);
>>>>>>> 2aa367b4... Add colors to UI
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: -color-white;
}

<<<<<<< HEAD
.scroll-pane {
    -fx-background: -color-blue2;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-bar {
    -fx-background-color: -color-blue1;
}

.scroll-bar .thumb {
    -fx-background-color: derive(-color-blue2, 50%);
=======
.scroll-bar {
    -fx-background-color: -color-lightpurple;
}

.scroll-bar .thumb {
    -fx-background-color: derive(-color-purple, 50%);
>>>>>>> 2aa367b4... Add colors to UI
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTextField {
<<<<<<< HEAD
    -fx-background-color: -color-blue3 -color-blue3 -color-blue3 -color-blue3;
    -fx-background-insets: 0;
    -fx-border-color: -color-blue3 -color-blue3 -color-blue3 -color-blue3;
=======
    -fx-background-color: -color-blue -color-blue -color-blue -color-blue;
    -fx-background-insets: 0;
    -fx-border-color: -color-blue -color-blue -color-blue -color-blue;
>>>>>>> 2aa367b4... Add colors to UI
    -fx-border-insets: 0;
    -fx-border-width: 0;
    -fx-font-size: 10pt;
    -fx-text-fill: -color-white;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, black, 10, 0, 0, 0);
}

#resultDisplay .content {
<<<<<<< HEAD
    -fx-background-color: transparent, -color-blue2, transparent, -color-blue2;
    -fx-background-radius: 0;
=======
    -fx-background-color: transparent, -color-purple, transparent, -color-purple;
    -fx-background-radius: 0;
    -fx-text-fill: #000000;
>>>>>>> 2aa367b4... Add colors to UI
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: -color-white;
    -fx-background-color: #534B62;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
<<<<<<< HEAD
=======

.button-selected {
    -fx-background-color: derive(-color-medium2, 50%);
}
>>>>>>> 2aa367b4... Add colors to UI
